### Import libraries

In [5]:
%matplotlib inline

# importing pandas and numpy
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import os
from ipyfilechooser import FileChooser

### Import log file

In [6]:
fc = FileChooser()
display(fc)

FileChooser(path='/home/daan/bitofpepper/ai_robot_new/ai_robot/notebooks', filename='', title='', show_hidden=…

In [7]:
# load logfile into a Pandas dataframe
df = pd.read_csv(fc.selected,index_col='datetime', parse_dates=True).drop(['Unnamed: 0'], axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1589 entries, 2018-09-20 15:20:44.204882 to 2018-09-20 15:21:13.590816
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   angle_of_attack  1589 non-null   float64
 1   boat_angle       1589 non-null   float64
 2   boat_heel        1589 non-null   float64
 3   boat_speed       1589 non-null   float64
 4   course_error     1589 non-null   float64
 5   rudder_angle     1589 non-null   float64
 6   target_angle     1589 non-null   float64
 7   wind_direction   1589 non-null   float64
 8   wind_speed       1589 non-null   float64
dtypes: float64(9)
memory usage: 124.1 KB

* angle_of_attack: wind direction relative to the boat
> * A positive angle of attack means the wind is blowing onto the right (starboard) side of the boat
> * A negative angle of attack means the wind is blowing onto the left (port) side of the boat
* boat_angle: compass direction in which the boat is going (North==0/360, East==90, South==180, West==270)
* boat_heel: heeling angle in degrees (rotation around the longitudinal axis).
* boat_speed: speed in knots (5 knots is 9.26 km per hr)
* course_error: difference between boat_angle and target_angle
* rudder_angle: position of the rudder relative to centerline of the boat
* target_angle: compass direction in which you want to go
* wind_direction: direction from where the wind is coming
* wind_speed: wind speed in knots

### Look at a sample of the dataset

In [10]:
# Print the first 5 rows of the dataframe
# YOUR CODE HERE
df[0:10000]

,angle_of_attack,boat_angle,boat_heel,boat_speed,course_error,rudder_angle,target_angle,wind_direction,wind_speed
datetime,,,,,,,,,
2018-09-20 15:20:44.204882,-40.236386,359.896901,5.154972,2.099732,130.916042,0.000000,228.980859,319.660515,7.963619
2018-09-20 15:20:44.227630,-41.075512,359.799312,4.879416,2.042295,130.818453,0.000000,228.980859,318.723800,7.411740
2018-09-20 15:20:44.250254,-40.991465,359.695612,5.185008,2.107305,130.714753,0.000000,228.980859,318.704147,7.888204
2018-09-20 15:20:44.274456,-41.605111,359.601871,4.687066,2.002042,130.621012,0.000000,228.980859,317.996760,7.045938
2018-09-20 15:20:44.299476,-42.102651,359.508135,4.686779,2.002702,130.527276,0.000000,228.980859,317.405484,6.977760
...,...,...,...,...,...,...,...,...,...
2018-09-20 15:21:02.692107,17.063109,83.611922,7.252951,2.505493,5.797993,2.895946,77.813929,100.675031,24.516115
2018-09-20 15:21:02.710133,17.759491,83.613484,7.333886,2.523258,5.799555,2.898997,77.813929,101.372976,23.853209
2018-09-20 15:21:02.728030,17.705310,83.608452,7.063324,2.467410,5.794523,2.899778,77.813929,101.313763,23.047419
2018-09-20 15:21:02.745942,17.391187,83.598843,6.674484,2.386780,5.784914,2.897262,77.813929,100.990030,22.165784
2018-09-20 15:21:02.764605,18.108765,83.594734,6.709677,2.395032,5.780805,2.892457,77.813929,101.703499,21.433445

In [ ]:
# Print the last 5 rows of the dataframe
# YOUR CODE HERE

In [ ]:
# If you want you can look at more rows or try different slices
# YOUR CODE HERE

### Plotting the columns
First we will have a visual look at the data.

In [ ]:
# Put the column names in a list named 'columns'
columns = # YOUR CODE HERE

In [ ]:
# Plot the data (this can take a few seconds)
for column in columns:
    _, ax = plt.subplots(figsize=(20, 10))
    ax.set_title(column)
    df[column].plot(ax=ax)
    plt.grid(True)

## Zoom in on column rudder_angle (and clip it's maximum value)
Our AI Captain would like to control the rudder angle of the boat. Let's zoom in on this column in the dataset

In [ ]:
# Plot the rudder_angle
_, ax = plt.subplots(figsize=(20, 10))
df['rudder_angle'].plot(ax=ax)
plt.grid(True)

In [ ]:
# Select an interval of 1000 rows (these are 1000 datapoints) of df and put it in a new dataframe called 'selection_1k'
selection_1k = # YOUR CODE HERE

# Select an interval of 10,000 rows of df and put it in a new dataframe called 'selection_10k'
selection_10k = # YOUR CODE HERE

In [ ]:
# plot the rudder_angle for selection_1k and for selection_10k
# YOUR CODE HERE

In [ ]:
# Find the maximum and minimum values for rudder_angle in the entire dataset
# YOUR CODE HERE

In [ ]:
# Clip rudder_angle to [-20, 20]; i.e. set angles > 20 to 20 & angles < -20 to -20
df["rudder_angle"] = # YOUR CODE HERE

In [ ]:
# Look at the result of what you just did
_, ax = plt.subplots(figsize=(20, 10))
df[(df.index.hour == 9) & (df.index.minute == 21)]['rudder_angle'].plot(ax=ax)
plt.grid(True)

### Boat_speed (noisy signal)

In [ ]:
# Plot boat_speed of your selection_10k
# YOUR CODE HERE

In [ ]:
# Plot boat_speed of your selection_10k again, this time with a rolling window calculation with rolling(20).mean()
# YOUR CODE HERE

### Removing outliers from wind_speed

In [ ]:
# Maybe you noticed that the graph of wind_speed looked quite messy
# Plot the wind_speed for you selection_10k
# YOUR CODE HERE

In [ ]:
# The big wind_speed values are not realistic. We will define wind_speed's above 35 knots as outliers
# Replace outliers in wind_speed with np.nan (use mask)
df["wind_speed"] = YOUR CODE HERE

In [ ]:
_, ax = plt.subplots(figsize=(20, 10))
df.iloc[0:1000]['wind_speed'].plot(ax=ax)
plt.grid(True)

### Removing NA's

In [ ]:
# Find the columns that contain NA's
# YOUR CODE HERE
df.isna().sum()

In [ ]:
# Replace the NA's in each column with the last valid observation
# Can you think of a reason why this makes more sense here then replace with mean value?
# YOUR CODE HERE

In [ ]:
df.isna().sum().sum()
# This should show 0

### Creating a new feature
You can create your own features based on the existing columns.
In sailing VMG is used a lot.
VMG stands for Velocity Made Good and is defined as the the velocity component in the directing where you want to be going.
Maybe this feature will help our machine learning algorithm.

In [ ]:
df['VMG'] = df.boat_speed*np.cos(np.deg2rad(df.course_error))

df = df[['wind_speed', 'wind_direction',
         'angle_of_attack', 'boat_heel',
         'boat_speed', 'VMG',
         'target_angle', 'boat_angle', 'course_error',
         'rudder_angle']]

In [ ]:
_, ax = plt.subplots(figsize=(20, 10))
df.iloc[0:1000].boat_speed.plot(ax=ax)
df.iloc[0:1000].VMG.plot(ax=ax)
plt.legend()

### Plotting correlation matrix

In [ ]:
# Plot the correlation matrix of the dataframe
# YOUR CODE HERE
corr = df.corr()
corr.style.background_gradient()

In [ ]:
_, ax = plt.subplots(figsize=(20, 10))
df.iloc[0:1000].plot(ax=ax)
plt.legend()

Notice that the range of the values can differ quite a lot per column

### What did you learn?
In this notebook you have:
* Clipped the values of rudder_angle to [-20, 20]
* Used rolling mean to vizualize boat speed signal
* Replaced outliers in wind_speed
* Replaced NA's in boat_heel and target_angle
* Added a new feature
* Looked at the correlation matrix

In [ ]:
# Save df to pickle
df.to_pickle('data_clean.pkl')