In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from sklearn.model_selection import train_test_split

%matplotlib inline

In [4]:
# read in data
data = pd.read_csv(os.path.join('..', 'data', 'datasets', 'kc_house_data.csv'))
print(data.shape)
data.head()

(21613, 21)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
# prepare features and target
y = data['price']
x = data[['bedrooms', 'bathrooms', 'sqft_living', 'yr_built']]

# split test / train
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.10, random_state = 2)

In [7]:

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.optimizers import Adam

# create model
model = Sequential([
    Dense(128, activation='relu', input_shape=(4,)),
    Dense(128, activation='relu'),
    Dense(1),
])

# compile model
model.compile(loss='mse', optimizer='adam', metrics=['mae'])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 128)               640
_________________________________________________________________
dense_1 (Dense)              (None, 128)               16512
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 129
=================================================================
Total params: 17,281
Trainable params: 17,281
Non-trainable params: 0
_________________________________________________________________

In [8]:
# fit model
model.fit(x_train, y_train, epochs=10)

Epoch 1/10
608/608 [==============================] - 0s 634us/step - loss: 149546172416.0000 - mae: 254965.9219
Epoch 2/10
608/608 [==============================] - 0s 628us/step - loss: 70804086784.0000 - mae: 171853.8906
Epoch 3/10
608/608 [==============================] - 0s 719us/step - loss: 67860901888.0000 - mae: 171433.2656
Epoch 4/10
608/608 [==============================] - 0s 621us/step - loss: 67083382784.0000 - mae: 170957.2656
Epoch 5/10
608/608 [==============================] - 0s 609us/step - loss: 66159783936.0000 - mae: 170081.5156
Epoch 6/10
608/608 [==============================] - 0s 724us/step - loss: 65365868544.0000 - mae: 169115.0469
Epoch 7/10
608/608 [==============================] - 0s 622us/step - loss: 64624590848.0000 - mae: 167847.2500
Epoch 8/10
608/608 [==============================] - 0s 637us/step - loss: 63944138752.0000 - mae: 167332.4375
Epoch 9/10
608/608 [==============================] - 0s 715us/step - loss: 63489589248.0000 - mae: 166856.1875
Epoch 10/10
608/608 [==============================] - 0s 644us/step - loss: 63236870144.0000 - mae: 166398.0625

In [9]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.optimizers import Adam

# create model
model = Sequential([
    Dense(128, activation='relu', input_shape=(x_train.shape[1],)),
    Dropout(0.3),
    Dense(128, activation='relu'),
    Dropout(0.3),
    Dense(1),
])

# compile model
model.compile(loss='mse', optimizer=Adam(lr=.0001), metrics=['mae'])
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 128)               640
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense_4 (Dense)              (None, 128)               16512
_________________________________________________________________
dropout_1 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 129
=================================================================
Total params: 17,281
Trainable params: 17,281
Non-trainable params: 0
_________________________________________________________________

In [10]:
# fit model
model.fit(x_train, y_train, epochs=10)

Epoch 1/10
608/608 [==============================] - 1s 1ms/step - loss: 407629004800.0000 - mae: 524909.1875
Epoch 2/10
608/608 [==============================] - 1s 833us/step - loss: 287971049472.0000 - mae: 406183.9688
Epoch 3/10
608/608 [==============================] - 1s 863us/step - loss: 132881154048.0000 - mae: 219181.8438
Epoch 4/10
608/608 [==============================] - 0s 735us/step - loss: 91541700608.0000 - mae: 186967.0781
Epoch 5/10
608/608 [==============================] - 1s 826us/step - loss: 88724725760.0000 - mae: 190747.0312
Epoch 6/10
608/608 [==============================] - 0s 738us/step - loss: 86192848896.0000 - mae: 188854.8438
Epoch 7/10
608/608 [==============================] - 0s 747us/step - loss: 85016412160.0000 - mae: 187244.5156
Epoch 8/10
608/608 [==============================] - 1s 870us/step - loss: 82941935616.0000 - mae: 184926.7969
Epoch 9/10
608/608 [==============================] - 0s 739us/step - loss: 82193326080.0000 - mae: 183677.8750
Epoch 10/10
608/608 [==============================] - 1s 900us/step - loss: 79859179520.0000 - mae: 181539.2031

In [11]:
house_info= np.array([[5,3,2000,1986],[5,3,2000,1996],[5,5,2000,2006]])
model.predict(house_info)

array([[536078.94],
       [536896.2 ],
       [537981.6 ]], dtype=float32)